@tailwind base;
@tailwind components;
@tailwind utilities;

.timer-wrapper {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2rem;
  border: solid 2px white;
  border-radius: 5px;
  z-index: 2;
}

.timer-inner {
  color: #010101;
  display: flex;
  border: solid 2px #fff;
  padding: 2rem;
  background-color: rgba(256, 256, 256, 0.3);
  border-radius: 5px;
}

.timer-segment {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.divider,
.time {
  font-size: 3rem;
}

.divider {
  padding: 0 1rem;
}

.label {
  font-size: 2rem;
}

h1 {
  z-index: 2;
  font-size: 10rem;
  color: #fff;
}

video {
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
